<!DOCTYPE html>
<html>
<head>
    <title><% if(title){ %><%= title %><% }else{ %><%= config.name %><% } %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/admin.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/js/duck.js"></script>
    <script type="text/javascript">
        duckJS.config({
            alias : {
                'jquery' : 'jquery-1.9.1.min.js',
                'bootstrap' : 'bootstrap.min.js',
                'alertify' : 'alertify.min.js',
                'alertify-core' : '/css/alertify/alertify.core.css',
                'alertify-default' : '/css/alertify/alertify.default.css',
                'common' : 'common.js'
            }
        });

        duckJS.use(['alertify-core', 'alertify-default']);
        duckJS.use('bootstrap');
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">hello, <span class="label label-info"><%= locals.current_user %></span></a>
        <ul class="nav">
            <li<% if(locals.topics){ %> class="active"<% } %>><a href="/admin">吐槽管理<% if(locals.topics){ %> (<%= total %>)<% } %></a></li>
            <li<% if(locals.categories){ %> class="active"<% } %>><a href="/admin/category">话题管理<% if(locals.categories){ %> (<%= total %>)<% } %></a></li>
            <li<% if(locals.replys){ %> class="active"<% } %>><a href="/admin/reply">评论管理<% if(locals.replys){ %> (<%= total %>)<% } %></a></li>
            <li<% if(locals.users){ %> class="active"<% } %>><a href="/admin/user">用户管理<% if(locals.users){ %> (<%= total %>)<% } %></a></li>
            <li><a href="#xuanran">全局配置</a></li>
            <li><a href="#youjian">工 具</a></li>
        </ul>
    </div>
</div>
<%- body %>
<div class="content fn-pb20">
    <p>&copy; <%= config.name %></p>
</div>
<script type="text/javascript">
    duckJS.use(['jquery', 'common'], function($, common){
        $(function(){
            common.admin.init();
        });
    });
</script>
</body>
</html>