<!DOCTYPE html>
<html>
<head>
    <title><% if(title){ %><%= title %><% }else{ %><%= config.name %><% } %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/admin.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="/js/duck.js"></script>
    <script type="text/javascript">
        duckJS.config({
            alias : {
                'jquery' : 'jquery-1.9.1.min.js',
                'bootstrap' : 'bootstrap.min.js',
                'alertify' : 'alertify.min.js',
                'alertify-core' : '/css/alertify/alertify.core.css',
                'alertify-default' : '/css/alertify/alertify.default.css',
                'common' : 'common.js'
            }
        });

        duckJS.use(['alertify-core', 'alertify-default']);
        duckJS.use('bootstrap');
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <a class="brand" href="#">hello, <span class="label label-info"><%= locals.current_user %></span></a>
        <ul class="nav">
            <li class="active"><a href="#peizhi">吐槽管理 (<%= total %>)</a></li>
            <li><a href="#geshi">话题管理</a></li>
            <li><a href="#geshi">评论管理</a></li>
            <li><a href="#xuanran">用户管理</a></li>
            <li><a href="#xuanran">全局配置</a></li>
            <li><a href="#youjian">工 具</a></li>
        </ul>
    </div>
</div>
<div id="wrapper" class="content">
    <div class="blank">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="16%">内容</th>
                <th width="10%">用户</th>
                <th width="15%">话题</th>
                <th width="8%">评论数</th>
                <th width="8%">被赞</th>
                <th width="8%">被踩</th>
                <th width="15%">时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <% if(topics && topics.length){ %>
                <% for(var i = 0, len = topics.length; i < len; i++){ %>
                <% var curTopic = topics[i] %>
                <tr>
                    <td><%= curTopic.content %></td>
                    <td><b><%= curTopic.author_name %></b><% if(curTopic.author_nickName){ %><br>(<%= curTopic.author_nickName %>)<% } %></td>
                    <td><% if(curTopic.topic_Type){ %><%= curTopic.topic_Type %><% } %></td>
                    <td class="J-replyCount"><%= curTopic.replyCount %></td>
                    <td><%= curTopic.support %><% if(curTopic.support > 0){ %><br>(<%= curTopic.supporter %>)<% } %></td>
                    <td><%= curTopic.down %><% if(curTopic.down > 0){ %><br>(<%= curTopic.downer %>)<% } %></td>
                    <td><%= curTopic.create_time %></td>
                    <td>
                        <button class="btn btn-info J-update" type="button" data-id="<%= curTopic._id %>">修改</button>
                        <button class="btn btn-danger J-remove" type="button" data-id="<%= curTopic._id %>">删除</button>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- page start -->
    <%- partial('pagination', {pre: "admin", pagination: pagination}) %>
    <!-- page end -->
</div>
<div class="content fn-pb20">
    <p>&copy; <%= config.name %></p>
</div>
<script type="text/javascript">
    duckJS.use(['jquery', 'common'], function($, common){
        $(function(){
            common.admin.init();
        });
    });
</script>
</body>
</html>