<div id="wrapper" class="content">
    <div class="blank">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th width="16%">id</th>
                <th width="10%">用户</th>
                <th width="20%">内容</th>
                <th width="10%">时间</th>
                <th width="16%">主题</th>
                <th width="10%">主题用户</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
                <% if(locals.replys && replys.length){ %>
                <% for(var i = 0, len = replys.length; i < len; i++){ %>
                <% var cur = replys[i] %>
                <tr>
                    <td><%= cur._id %></td>
                    <td><%= cur.author_name %> (<%= cur.author_nickName %>)</td>
                    <td style="word-break: break-all"><%= cur.content %></td>
                    <td><%= cur.create_time %></td>
                    <td><%= cur.topic_id %><div class="replyTopicContent"><%= cur.topic %></div></td>
                    <td><%= cur.topic_user %></td>
                    <td>
                        <button class="btn btn-info J-update" type="button" data-type="reply" data-id="<%= cur._id %>">修改</button>
                        <button class="btn btn-danger J-remove" type="button" data-type="reply" data-id="<%= cur._id %>">删除</button>
                    </td>
                </tr>
                <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
    <!-- page start -->
    <%- partial('pagination', {pre: "admin/reply", pagination: pagination}) %>
    <!-- page end -->
</div>