<div id="J-replyRepeat" class="topic-reply clearfix hide">
    <div class="reply-body">
        <a class="reply-head pull-left">
            <img src="/img/nopic.jpg" class="media-object img30 J-reply-head">
        </a>
        <a href="" class="J-reply-user J-userLink topic-user" rel=""></a>&nbsp;&nbsp;<span class="J-reply-con"></span>
    </div>
    <div class="reply-at"><a class="J-reply-at" data-user="">回复</a></div>
</div>

<div id="J-topic-wrap" class="topic-wrap">
    <% if(topics && topics.length){ %>
    <% for(var i = 0, len = topics.length; i < len; i++){ %>
    <% var curTopic = topics[i] %>
    <div class="topic-item J-topic-item">
        <div class="topic-left">
            <img src="<%= curTopic.head %>" class="media-object J-topic-img img50" alt="<%= curTopic.author_nickName %>" title="<%= curTopic.author_nickName %>">
        </div>
        <div class="topic-body">
            <div class="topic-content">
                <a href="/user/<%= curTopic.author_name %>" class="topic-user J-topic-authorName J-userLink" title="<%= curTopic.author_nickName %>"><%= curTopic.author_nickName %></a>&nbsp;&nbsp;<span class="J-topic-content"><%= curTopic.content %></span>
            </div>
            <div class="topic-updown clearfix">
                <span class="pull-left topic-time J-topic-time"><%= curTopic.create_time %></span>
                  <span class="pull-right J-topic-updown hidde">
                      <a class="topic-up J-topic-up" data-topicid="<%= curTopic._id %>" data-user="<%= curTopic.author_name %>" data-type="support"><i class="icon-thumbs-up"></i> 赞 <span class="J-topic-upNum"><% if(curTopic.support){ %> (<%= curTopic.support %>)<% } %></span></a>&nbsp;
                      <a class="topic-down J-topic-down" data-topicid="<%= curTopic._id %>" data-user="<%= curTopic.author_name %>" data-type="down"><i class="icon-thumbs-down"></i> 踩 <span class="J-topic-downNum"><% if(curTopic.down){ %> (<%= curTopic.down %>)<% } %></span></a>&nbsp;
                      <a class="topic-showreply J-topic-showreply" data-topicid="<%= curTopic._id %>" data-user="<%= curTopic.author_name %>"><i class="icon-user"></i> 评论 <span class="J-topic-replyNum"><% if(curTopic.replyCount){ %>(<%= curTopic.replyCount %>)<% } %></span></a>
                  </span>
            </div>
            <div class="J-reply-wrapper hide">
                <div class="reply-border"></div>
                <div class="reply-push">
                    <textarea rows="1"></textarea>
                    <div class="text-right pull-right"><input type="button" value="发 布" class="btn btn-large btn-inverse J-reply-fabu" data-topicid="<%= curTopic._id %>" data-user="<%= curTopic.author_name %>"></div>
                </div>
            </div>
        </div>
        <% if(curTopic.replyTopic){ %>
        <% var replyTopic = curTopic.replyTopic %>
        <div class="topic-replyto clearfix">
            <div class="topic-left">
                <img title="<%= replyTopic.author_nickName %>" alt="<%= replyTopic.author_nickName %>" class="media-object J-topic-img img50" src="/img/nopic.jpg">
            </div>
            <div class="topic-body">
                <div class="topic-content">
                    <a title="<%= replyTopic.author_nickName %>" class="topic-user J-topic-authorName J-userLink" href="/user/<%= replyTopic.author_name %>"><%= replyTopic.author_nickName %></a>&nbsp;&nbsp;<span class="J-topic-content"><%= replyTopic.content %></span>
                </div>
                <div class="topic-updown clearfix">
                    <span class="pull-left topic-time J-topic-time"><%= replyTopic.create_time %></span>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <% } %>
    <% }else{ %>
    <div class="fn-pl20 fn-pt20 fn-pb20">暂无吐槽信息。</div>
    <% } %>
</div>