  <div class="container">
      <div class="row">
          <div class="span8">
              <div class="push clearfix">
                  <div class="push-mostDiscuss">目前有&nbsp;<i>2323</i>&nbsp;人在讨论&nbsp;<a href="#this">#有没有人告诉你#</a></div>
                  <textarea id="J-topic-content" rows="2" placeholder="说点儿什么..."></textarea>
                  <div class="text-left"><input type="button" class="btn btn-primary" id="J-fabu" value="&nbsp;&nbsp;发 布&nbsp;&nbsp;"> Ctrl+Enter快速发布 </div>
              </div>
              <hr>
              <h3 class="fn-mt20">最新吐槽</h3>
              <!--<div class="media">
                  <a class="pull-left">
                      <img src="img/nopic.gif" class="media-object">
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">
                          <div class="reply">2012/12/12 12:12:12<a class="fn-ml10" href="#this">回复</a></div>
                          aaa
                      </h4>
                      这是一段长文章，内容通常很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长啊
                  </div>
              </div>-->
              <div class="media">
                  <a class="pull-left">
                      <img src="img/nopic.gif" class="media-object img-rounded">
                  </a>
                  <div class="media-body">
                      <h4 class="media-heading">
                          <span class="reply">2013/2/30 22:0:35<a href="#this" class="fn-ml10">回复</a></span>
                          aaa
                      </h4>
                      <a href="#this">#有没有人告诉你#</a>&nbsp;你懂的<a href="#this">@小天</a>
                  </div>
                  <div class="media-updown">
                      <a href="#this">顶(+12)</a>&nbsp;
                      <a href="#this">踩(-19)</a>
                  </div>
              </div>
              <div id="J-topic-wrap">
                  <% if(topics && topics.length){ %>
                  <% for(var i = 0, len = topics.length; i < len; i++){ %>
                  <div class="media">
                      <a class="pull-left">
                          <img class="media-object img-rounded J-topic-img" src="img/nopic.gif" />
                      </a>
                      <div class="media-body">
                          <h4 class="media-heading">
                              <span class="reply">
                                  <em class="J-topic-time"><%= topics[i].create_time %></em>
                                  <a class="fn-ml10 J-topic-replyLink" href="#this">回复</a>
                              </span>
                              <span class="J-topic-authorName"><%= topics[i].author_name %></span>
                          </h4>
                          <div class="J-topic-content"><%= topics[i].content %></div>
                      </div>
                      <div class="media-updown">
                          <a href="#this">顶(+<span class="J-topic-ding">12</span>)</a>&nbsp;
                          <a href="#this">踩(-<span class="J-topic-cai">29</span>)</a>
                      </div>
                  </div>
                  <% } %>
                  <% }else{ %>
                  <div>暂无吐槽信息。</div>
                  <% } %>
              </div>
          </div>
          <div class="span4">
              <% if(userInfo){ %>
              <div class="widget-list">
                  <div class="media">
                      <a href="#this" class="fn-posi-re pull-left">
                          <img class="media-object img-rounded" src="img/nopic.gif" style="width: 80px; height: 80px" />
                          <span class="media-text fn-posi-ab">更换头像</span>
                      </a>
                      <div class="media-body user-infor-sign">
                          <h4 class="media-heading"><%= userInfo.name %></h4>
                          <%= userInfo.sign %>
                      </div>
                  </div>
                  <div class="user-infor fn-mt10">
                      <ul class="clearfix">
                          <li>
                              <a href="#this">
                                  <span><strong><%= userInfo.follower %></strong></span>
                                  <span>粉丝</span>
                              </a>
                          </li>
                          <li>
                              <a href="#this">
                                  <span><strong id="J-userInfor-topicCount"><%= userInfo.topic_count %></strong></span>
                                  <span>吐槽</span>
                              </a>
                          </li>
                          <li>
                              <a href="#this">
                                  <span><strong><%= userInfo.followed %></strong></span>
                                  <span>关注</span>
                              </a>
                          </li>
                          <!--<li>
                              <a href="#this">
                                  <span><strong><%= userInfo.collecting %></strong></span>
                                  <span>收藏</span>
                              </a>
                          </li>-->
                      </ul>
                  </div>
              </div>
              <% }else{ %>
              <div>
                  <p>与其在别处并肩，不如在这里吐槽 <(￣︶￣)><p>
                  <form method="post" class="form-signin" action="/login">
                      <input type="text" placeholder="用户名或Email" name="email" class="input-block-level">
                      <input type="password" placeholder="密码" name="password" class="input-block-level">
                      <label class="checkbox">
                          <input type="checkbox" value="remember-me"> 记住我
                      </label>
                      <button type="submit" class="btn btn-primary">登 录</button>
                      <input type="button" onclick="location.href='/reg'" value="注册一个账号" class="btn">
                  </form>
              </div>
              <% } %>

              <div class="widget-list">
                  <h5 class="widget-head">最新加入 | New</h5>
                  <% if(users && users.length){ %>
                  <div class="list-users">
                      <ul class="clearfix">
                          <% for(var j = 0, len = users.length; j < len; j++){ %>
                          <li>
                              <a href='#this'><img class="media-object img-rounded" src="img/nopic.gif" />
                              <span><%= users[j].name %></span></a>
                          </li>
                          <% } %>
                      </ul>
                  </div>
                  <% }else{ %>
                  <div>暂无用户。</div>
                  <% } %>
              </div>
              <div class="widget-list">
                  <h5 class="widget-head">吐槽之星 | Top10</h5>
                  <% if(usersByCount && usersByCount.length){ %>
                  <div class="list-users">
                      <ul class="clearfix">
                          <% for(var j = 0, len = usersByCount.length; j < len; j++){ %>
                          <li>
                              <a href='#this' title="<%= usersByCount[j].topic_count %> 个吐槽"><img class="media-object img-rounded" src="img/nopic.gif" />
                                  <span><%= usersByCount[j].name %></span></a>
                          </li>
                          <% } %>
                      </ul>
                  </div>
                  <% }else{ %>
                  <div>暂无用户。</div>
                  <% } %>
              </div>
              <div class="widget-list">
                  <h5 class="widget-head">最热话题 | Hot</h5>
                  <div class="media-body">
                      <ul>
                          <li><a href="#this">#工要工工工工工工要工工工#</a>&nbsp;(87)</li>
                          <li><a href="#this">#工一模压要工工工工工工要工工工#</a>&nbsp;(87)</li>
                          <li><a href="#this">#工一模要工工工工工工要工工工#</a>&nbsp;(87)</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>