  <div class="container">
      <div class="row">
          <div class="span8">
              <div class="push clearfix">
                  <div class="push-mostDiscuss">目前有&nbsp;<i>2323</i>&nbsp;人在讨论&nbsp;<a href="#this">#有没有人告诉你#</a></div>
                  <textarea id="J-topic-content" rows="2" placeholder="说点儿什么..."></textarea>
                  <div class="text-left"><input type="button" class="btn btn-primary" id="J-fabu" value="&nbsp;&nbsp;发 布&nbsp;&nbsp;"> Ctrl+Enter快速发布 </div>
              </div>

              <h3 class="fn-mt20">最新吐槽</h3>
              <div id="J-topicItemTemplate" class="topic-item hide">
                  <div class="topic-left">
                      <img src="img/nopic.jpg" class="media-object img64">
                  </div>
                  <div class="topic-body">
                      <div class="topic-content">
                          <a href="#this" class="topic-user J-topic-authorName">我是神货</a>&nbsp;&nbsp;<span class="J-topic-content"></span>
                      </div>
                      <div class="topic-updown clearfix">
                          <span class="pull-left topic-time J-topic-time">04月11日 22:04</span>
                          <span class="pull-right">
                              <a href="#this">顶(+12)</a>&nbsp;
                              <a href="#this">踩(-19)</a>&nbsp;
                              <a href="#this" class="fn-ml10">评论(9)</a>
                          </span>
                      </div>
                  </div>
              </div>

              <div id="J-topic-wrap" class="topic-wrap">
                  <div class="topic-item">
                      <div class="topic-left">
                          <img src="img/nopic.jpg" class="media-object img64">
                      </div>
                      <div class="topic-body">
                          <div class="topic-content">
                              <a href="#this" class="topic-user">我是神货</a>&nbsp;你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂的的
                          </div>
                          <div class="topic-updown clearfix">
                              <span class="pull-left topic-time">04月11日 22:04</span>
                          <span class="pull-right">
                              <a href="#this">顶(+12)</a>&nbsp;
                              <a href="#this">踩(-19)</a>&nbsp;
                              <a href="#this" class="fn-ml10">评论(9)</a>
                          </span>
                          </div>
                          <div class="reply-border"></div>
                          <div class="topic-reply clearfix">
                              <div class="reply-body">
                                  <a class="reply-head pull-left">
                                      <img src="img/nopic.jpg" class="media-object img30">
                                  </a>
                                  <a href="#this" class="topic-user">如果只是</a>&nbsp;&nbsp;你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂你懂
                              </div>
                          </div>
                          <div class="topic-reply clearfix">
                              <div class="reply-body">
                                  <a class="reply-head pull-left">
                                      <img src="img/nopic.jpg" class="media-object img30">
                                  </a>
                                  <a href="#this" class="topic-user">如果只是</a>&nbsp;&nbsp;咱哈哈
                              </div>
                          </div>
                      </div>
                  </div>
                  <% if(topics && topics.length){ %>
                  <% for(var i = 0, len = topics.length; i < len; i++){ %>
                  <% var curTopic = topics[i] %>
                  <div class="topic-item">
                      <div class="topic-left">
                          <img src="<% if(curTopic.head){ %><%= curTopic.head %><% }else{ %>/img/nopic.jpg<% } %>" class="media-object img64">
                      </div>
                      <div class="topic-body">
                          <div class="topic-content">
                              <a href="/user/<%= curTopic.author_name %>" class="topic-user J-topic-authorName"><% if(curTopic.author_nickName){ %><%= curTopic.author_nickName %><% }else{ %><%= curTopic.author_name %><% } %></a>&nbsp;&nbsp;<span class="J-topic-content"><%= curTopic.content %></span>
                          </div>
                          <div class="topic-updown clearfix">
                              <span class="pull-left topic-time J-topic-time"><%= curTopic.create_time %></span>
                          <span class="pull-right">
                              <a href="#this">顶(+12)</a>&nbsp;
                              <a href="#this">踩(-19)</a>&nbsp;
                              <a href="#this" class="fn-ml10">评论(9)</a>
                          </span>
                          </div>
                      </div>
                  </div>

                  <% } %>
                  <% }else{ %>
                  <div>暂无吐槽信息。</div>
                  <% } %>
              </div>
          </div>
          <%- partial('sidebar', {userInfo: userInfo, users: users, usersByCount: usersByCount}) %>
      </div>
  </div>