<!DOCTYPE html>
<html>
  <head>
    <title><%= config.name %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap -->
    <link href="css/base.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <h1><%= title %> <%= config.version %></h1>
    <% if(locals.current_user){ %>
    <p><%= locals.current_user %>，欢迎你。<a href="/logout">登出</a></p>
    <% }else{ %>
    <p><a href="/login">登录</a><a href="/reg">注册</a></p>
    <% } %>
    <p><%= config.description %></p>
  </body>
</html>