<div class="span3 pull-right">
    <div class="inner">
        <%
        var myself = false, woorta = 'TA';
        if(locals.current_user && locals.current_user == userInfo.name){
            myself = true;
            woorta = '我';
        }
        %>
        <% if(userInfo){ %>
            <% if(myself && !locals.location){ %>
            <div class="widget-list">
                    <div class="media">
                        <a href="/avatar" class="fn-posi-re user-infor-head">
                            <img id="J-user-infor-head" class="media-object img-rounded" src="<% if(userInfo.head){ %><%= userInfo.head %><% }else{ %>/img/nopic.jpg<% } %>" />
                            <span class="user-infor-replace fn-posi-ab">更换头像</span>
                        </a>
                        <div class="user-infor-sign">
                            <h4 class="user-infor-name">
                                <span class="pull-right sidebar-message" title="消息中心"><a href="/message"><i class="icon-envelope fn-mt3"></i></a></span>
                                <a href="/user/<%= userInfo.name %>"><i class="theCurrentName"><% if(userInfo.nickName){ %><%= userInfo.nickName %><% }else{ %><%= userInfo.name %><% } %></i></a>
                            </h4>
                            <p class="theCurrentSign"><%= userInfo.sign %></p>
                            <p>粉丝：<span class="badge badge-important"><%= userInfo.fans.length %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吐槽：<a href="/mine"><span class="badge badge-info" id="J-userInfor-topicCount"><%= userInfo.topic_count %></span></a></p>
                            <p>金币：<span class="badge"><% if(userInfo.gold){ %><%= userInfo.gold %><% }else{ %>0<% } %></span><% if(locals.gold){ %><span class="user-infor-goldtip">登录奖励 +<%= gold %></span><% } %>
                            </p>
                        </div>
                    </div>
                </div>
            <% } %>
        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-heart"></i> <%=woorta%>关注的人<span>(<%= userInfo.followed.length %>)</span></h5>
            <% if(userInfo.followed && userInfo.followed.length){ %>
            <div class="widget-body list-users">
                <ul class="clearfix">
                    <% for(var j = 0, len = userInfo.followedInfo.length; j < len; j++){ %>
                    <% var current = userInfo.followedInfo[j] %>
                    <li>
                        <a href='/user/<%= current.name %>' title="<% if(current.nickName){ %><%= current.nickName %><% }else{ %><%= current.name %><% } %>"><img class="media-object img-rounded" src="<% if(current.head){ %><%= current.head %><% }else{ %>/img/nopic.jpg<% } %>" /></a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% } %>
        </div>
        <% }else{ %>
        <div class="widget-list sidebar-login">
            <p>与其在别处仰望，不如在这里吐槽 <(￣︶￣)><p>
            <form method="post" class="form-signin" action="/login">
                <input type="text" placeholder="用户名或Email" name="username" class="input-block-level">
                <input type="password" placeholder="密码" name="password" class="input-block-level">
                <label class="checkbox">
                    <input type="checkbox" value="remember-me"> 记住我
                </label>
                <button type="submit" class="btn btn-primary">登 录</button>
                <input type="button" onclick="location.href='/reg'" value="注册一个账号" class="btn">
            </form>
        </div>
        <% } %>

        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-certificate"></i> 最热话题 | Hot</h5>
            <div class="media-body">
                <ul>
                    <% if(locals.categories && categories.length){ %>
                        <% for(var j = 0, len = categories.length; j < len; j++){ %>
                        <% var currentCate = categories[j] %>
                        <li><a href="/category/<%= currentCate._id %>"><%= currentCate.name %></a>&nbsp;(<%= currentCate.count %>)</li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-star"></i> 吐槽之星 | Star</h5>
            <% if(locals.usersByCount && usersByCount.length){ %>
            <div class="list-users">
                <ul class="clearfix">
                    <% for(var j = 0, len = usersByCount.length; j < len; j++){ %>
                    <% var currentStar = usersByCount[j] %>
                    <li>
                        <a href='/user/<%= currentStar.name %>' title="<% if(currentStar.nickName){ %><%= currentStar.nickName %><% }else{ %><%= currentStar.name %><% } %>， <%= usersByCount[j].topic_count %>个吐槽"><img class="media-object img-rounded" src="<% if(currentStar.head){ %><%= currentStar.head %><% }else{ %>/img/nopic.jpg<% } %>" /></a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% }else{ %>
            <div>暂无用户。</div>
            <% } %>
        </div>
        <div class="widget-list">
            <h5 class="widget-head"><i class="icon-leaf"></i> 最新加入 | New</h5>
            <% if(users && users.length){ %>
            <div class="list-users">
                <ul class="clearfix">
                    <% for(var j = 0, len = users.length; j < len; j++){ %>
                    <% var newUser = users[j] %>
                    <li>
                        <a href='/user/<%= users[j].name %>' title="<% if(newUser.nickName){ %><%= newUser.nickName %><% }else{ %><%= newUser.name %><% } %>"><img class="media-object" src="<% if(newUser.head){ %><%= newUser.head %><% }else{ %>/img/nopic.jpg<% } %>" />
                            <span><% if(newUser.nickName){ %><%= newUser.nickName %><% }else{ %><%= newUser.name %><% } %></span></a>
                    </li>
                    <% } %>
                </ul>
            </div>
            <% }else{ %>
            <div>暂无用户。</div>
            <% } %>
        </div>
    </div>
</div>