<div class="container">
      <div class="row">
          <div class="span8">
              <h3 class="titleBar">我的吐槽</h3>
              <div id="J-topic-wrap">
                  <% if(topics && topics.length){ %>
                  <% for(var i = 0, len = topics.length; i < len; i++){ %>
                  <% var curTopic = topics[i] %>
                  <div class="topic-item J-topicUser-<%= curTopic.author_name %>">
                      <div class="topic-left">
                          <img src="<%= curTopic.head %>" class="media-object img50" title="<%= curTopic.author_nickName %>">
                      </div>
                      <div class="topic-body">
                          <div class="topic-content">
                              <a href="/user/<%= curTopic.author_name %>" class="topic-user J-topic-authorName"><%= curTopic.author_nickName %></a>&nbsp;&nbsp;<span class="J-topic-content"><%= curTopic.content %></span>
                          </div>
                          <div class="topic-updown clearfix">
                              <span class="pull-left topic-time J-topic-time"><%= curTopic.create_time %></span>
                          <span class="pull-right">
                              <a href="#this">顶(+12)</a>&nbsp;
                              <a href="#this">踩(-19)</a>&nbsp;
                              <a href="#this" class="fn-ml10">评论(9)</a>
                          </span>
                          </div>
                      </div>
                  </div>
                  <% } %>
                  <% }else{ %>
                  <div class="fn-pl20 fn-pb20 fn-pt20">暂无吐槽信息。</div>
                  <% } %>
              </div>
              <!-- page start -->
              <%- partial('pagination', {pre: "mine", pagination: pagination}) %>
              <!-- page end -->
          </div>
          <%- partial('sidebar', {userInfo: userInfo, users: users, usersByCount: usersByCount}) %>
      </div>
  </div>
<script type="text/javascript">
    duckJS.use(['jquery', 'common'], function($, common){
        $(function(){
            common.myTopic.init();
        });
    });
</script>