<div class="container">
      <div class="row">
          <div class="span8">
              <%
              var myself = false;
              if(locals.current_user && locals.current_user == userInfo.name){
                myself = true;
              }
              %>
              <div class="person-infor clearfix">
                  <div class="person-infor-img">
                      <img src="<% if(userInfo.head){ %><%= userInfo.head %><% }else{ %>/img/nopic.jpg<% } %>">
                  </div>
                  <div class="person-infor-data">
                      <h4><% if(userInfo.nickName){ %><%= userInfo.nickName %><% }else{ %><%= userInfo.name %><% } %></h4>
                      <p><a href="/user/<%= userInfo.name %>">http://localhost:3000/user/<%= userInfo.name %></a></p>
                      <p>粉丝：<strong class="fn-color-F66F6F" id="J-personInfor-fans"><%= userInfo.fans.length %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吐槽：<strong id="J-userInfor-topicCount"><%= userInfo.topic_count %></strong></p>
                      <% if(!myself){ %>
                      <p>
                          <input type="button" class="btn btn-primary" id="J-follow" value="<% if(followIn){ %>取消关注<% }else{ %>@ 关注<% } %>" data-user="<%= userInfo.name %>">
                      </p>
                      <% } %>
                      <div><%= userInfo.sign %></div>
                  </div>
              </div>
              <% if(myself){ %>
              <h3 class="titleBar">我的吐槽</h3>
              <% }else{ %>
              <h3 class="titleBar">TA的吐槽</h3>
              <% } %>
              <div id="J-topic-wrap">
                  <% if(topics && topics.length){ %>
                  <% for(var i = 0, len = topics.length; i < len; i++){ %>
                  <% var curTopic = topics[i] %>
                  <div class="topic-item J-topicUser-<%= curTopic.author_name %>">
                      <div class="topic-left">
                          <img src="<% if(curTopic.head){ %><%= curTopic.head %><% }else{ %>/img/nopic.jpg<% } %>" class="media-object img50">
                      </div>
                      <div class="topic-body">
                          <div class="topic-content">
                              <a href="/user/<%= curTopic.author_name %>" class="topic-user J-topic-authorName"><% if(curTopic.author_nickName){ %><%= curTopic.author_nickName %><% }else{ %><%= curTopic.author_name %><% } %></a>&nbsp;&nbsp;<span class="J-topic-content"><%= curTopic.content %></span>
                          </div>
                          <div class="topic-updown clearfix">
                              <span class="pull-left topic-time J-topic-time"><%= curTopic.create_time %></span>
                          <span class="pull-right">
                              <a href="#this">顶(+12)</a>&nbsp;
                              <a href="#this">踩(-19)</a>&nbsp;
                              <a href="#this" class="fn-ml10">评论(9)</a>
                          </span>
                          </div>
                      </div>
                  </div>
                  <% } %>
                  <% }else{ %>
                  <div class="fn-pl20 fn-pb20 fn-pt20">暂无吐槽信息。</div>
                  <% } %>
              </div>
              <!-- page start -->
              <%- partial('pagination', {pre: "user/"+userInfo.name, totalCount: totalCount, page: page}) %>
              <!-- page end -->
          </div>
          <%- partial('sidebar', {userInfo: userInfo, users: users, usersByCount: usersByCount}) %>
      </div>
  </div>
<script type="text/javascript">
    duckJS.use(['jquery', 'common'], function($, common){
        $(function(){
            common.myTopic.init();
        });
    });
</script>