<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/base.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .block{
            border:1px solid #ddd;
            border-top: 2px solid #999;
            background: #fff;
            margin: 0 0 20px;
            padding: 15px 20px;
        }
        .menu{
            background:#444;
            height:40px;
            margin-top:10px
        }
        .menu a{
            display:inline-block;
            line-height:40px;
            padding:0 20px;
            color:#fff;
            cursor: pointer;
        }
        .menu a.on, .menu a:hover{
            background:#111;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="menu">
        <a class="on">笑话</a>
        <a>新闻</a>
        <a>美女</a>
        <a>恶搞</a>
        <a>笑话</a>
        <a>笑话</a>
    </div>
<!--<% for(var i = 0, len = data.length; i < len; i++){ %>
    <div class="block"><%= data[i] %></div>
<% } %>

<% for(var key in data){
    var item = data[key];
%>
<div class="block">
    <p><%= item.time %> <% if(item.author){ %><%= item.author %><% } %></p>
    <p><%= item.content %></p>
    <% if(item.thumb){ %>
    <p><img src="<%= item.thumb %>"></p>
    <% } %>
</div>
<% } %>
-->
    <%
        data.each(function(i, item){
        var cur = data.eq(i),
            content = cur.find('.content'),
            author = cur.find('.author'),
            thumb = cur.find('.thumb');
    %>
    <div class="block">
        <p><%= content.attr('title') %> <% if(author.length){ %><%= author.find('a').text() %><% } %></p>
        <p><%= content.text() %></p>
        <% if(thumb.length){ %>
        <p><img src="<%= thumb.find('img').attr('src') %>"></p>
        <% } %>
    </div>

    <% }) %>


</div>
</body>
</html>